* {
  margin: 0;
  margin-top: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  border: 2px solid black;
}

.trybewarts-login {
  display: flex;
  height: 50px;
  margin-right: 20px;
  align-self: center;
  font-family: Inknut Antiqua, Geneva, Verdana, sans-serif;
  font-size: small;
  border: 2px solid black;
  justify-content: space-between;
  padding: 8px;
}

img {
  width: 100px;
  border: 3px solid black;
}

h1 {
  display: flex;
  height: 60px;
  border: 2px solid black;
  align-self: center;
  width: auto;
  margin-left: 150px;
  padding: 0 20px;
  font-family: Inknut Antiqua, Geneva, Verdana, sans-serif;
  color: white;
}

h2 {
  display: flex;
  font-family: Inknut Antiqua, Geneva, Verdana, sans-serif;
  width: auto;
  margin-left: 200px;
  border: 2px solid red;
}

main {
  display: flex;
  font-family: Inknut Antiqua, Geneva, Verdana, sans-serif;
  border: 2px solid green;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  width: 400px;
  
}

.col {
  display: flex;
  width: 687px;
  justify-content: space-between;
  border: 1px solid blue;
}
#label-family{
  display: flex;
  flex-direction: column;
}
label.chk-agreement{
  display: flex;
}